.autocomplete__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
}

.autocomplete__error {
    color: red;
}

.autocomplete__suggestions {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.autocomplete__suggestions-item {
    padding: 4px 16px;
    cursor: pointer;

    &:hover {
        background-color: #e5e7eb;
    }
}

.autocomplete__suggestions-item__highlight {
    color: blue;
}
